In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
import os

In [ ]:
path="../input"

In [5]:
data=pd.read_csv("orders.csv")

In [6]:
data.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,2/5/2013,2/7/2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11/5/2013,11/6/2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [7]:
data.tail()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
51285,29002,IN-2014-62366,6/19/2014,6/19/2014,Same Day,KE-16420,Katrina Edelman,Corporate,Kure,Hiroshima,...,OFF-FA-10000746,Office Supplies,Fasteners,"Advantus Thumb Tacks, 12 Pack",65.100,5,0.0,4.5000,0.010,Medium
51286,35398,US-2014-102288,6/20/2014,6/24/2014,Standard Class,ZC-21910,Zuschuss Carroll,Consumer,Houston,Texas,...,OFF-AP-10002906,Office Supplies,Appliances,Hoover Replacement Belt for Commercial Guardsm...,0.444,1,0.8,-1.1100,0.010,Medium
51287,40470,US-2013-155768,12/2/2013,12/2/2013,Same Day,LB-16795,Laurel Beltran,Home Office,Oxnard,California,...,OFF-EN-10001219,Office Supplies,Envelopes,"#10- 4 1/8"" x 9 1/2"" Security-Tint Envelopes",22.920,3,0.0,11.2308,0.010,High
51288,9596,MX-2012-140767,2/18/2012,2/22/2012,Standard Class,RB-19795,Ross Baird,Home Office,Valinhos,SÃ£o Paulo,...,OFF-BI-10000806,Office Supplies,Binders,"Acco Index Tab, Economy",13.440,2,0.0,2.4000,0.003,Medium
51289,6147,MX-2012-134460,5/22/2012,5/26/2012,Second Class,MC-18100,Mick Crebagga,Consumer,Tipitapa,Managua,...,OFF-PA-10004155,Office Supplies,Paper,"Eaton Computer Printout Paper, 8.5 x 11",61.380,3,0.0,1.8000,0.002,High

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 24 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  object
 3   Ship Date       51290 non-null  object
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51290 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Category        51290 non-null  object
 16  Sub-Category    51290 non-null  object
 17  Product Name    51290 non-null  object
 18  Sales           51290 non-null  float64
 19  Quantity        51290 non-null  int64
 20  Discount        51290 non-null  float64
 21  Profit          51290 non-null  float64
 22  Shipping Cost   51290 non-null  float64
 23  Order Priority  51290 non-null  object
dtypes: float64(5), int64(2), object(17)
memory usage: 9.4+ MB

In [10]:
data.shape[0] # How many rows

51290

In [11]:
data.shape[1] # How many columns

24

In [12]:
data.index.values # Get the row names

array([    0,     1,     2, ..., 51287, 51288, 51289], dtype=int64)

In [15]:
data.columns.values # Get the columns names

array(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State',
       'Country', 'Postal Code', 'Market', 'Region', 'Product ID',
       'Category', 'Sub-Category', 'Product Name', 'Sales', 'Quantity',
       'Discount', 'Profit', 'Shipping Cost', 'Order Priority'],
      dtype=object)

In [16]:
data["Product Name"]

0        Plantronics CS510 - Over-the-Head monaural Wir...
1                Novimex Executive Leather Armchair, Black
2                        Nokia Smart Phone, with Caller ID
3                           Motorola Smart Phone, Cordless
4                           Sharp Wireless Fax, High-Speed
                               ...
51285                        Advantus Thumb Tacks, 12 Pack
51286    Hoover Replacement Belt for Commercial Guardsm...
51287         #10- 4 1/8" x 9 1/2" Security-Tint Envelopes
51288                              Acco Index Tab, Economy
51289              Eaton Computer Printout Paper, 8.5 x 11
Name: Product Name, Length: 51290, dtype: object

In [20]:
y=data.sort_values("Profit", ascending=False).iloc[0:20,:]

In [21]:
y ["Customer Name"] # Who are the top 20 most profitable customers

329              Tamara Chand
14843            Raymond Buch
290              Hunter Lopez
122             Adrian Barton
45               Sanjit Chand
17              Patrick Jones
7399             Tom Ashbrook
76       Christopher Martinez
215               Carol Adams
313           Cynthia Arntzen
16062            Sanjit Engle
81               Dave Poirier
650             Daniel Raglin
82                Andy Reiter
11245       Elpida Rittenbach
39564         Mike Gockenbach
642                Ann Steele
158             Karen Daniels
110              Bill Shonely
334           Maria Bertelson
Name: Customer Name, dtype: object

In [23]:
data["Segment"].unique() # What is the distribution of our customer segment

array(['Consumer', 'Corporate', 'Home Office'], dtype=object)

In [24]:
z=data.sort_values(["Order Date"],ascending=True).iloc[0:20,:]

In [25]:
z["Customer Name"].unique() # Who are the top 20 oldest customers

array(['Joseph Holt', 'Toby Braunhardt', 'Eugene Moren', 'Annie Thurman',
       'Chris Cortes', 'Muhammed Yedwab', 'Joe Elijah', 'Joy Smith',
       'Nora Pelletier', 'Troy Blackwell', 'Patrick Bzostek',
       'Stephanie Phelps', 'Jay Kimmel'], dtype=object)